﻿@model CoolBooks.Genre

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Genre</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
	@if (User.IsInRole("Admin"))
	{
        <dt>
            @Html.DisplayNameFor(model => model.Created)
        </dt>

        <dd>
            @Model.Created.ToShortDateString()
        </dd>
		
	        <dt>
	            @Html.DisplayNameFor(model => model.IsDeleted)
		     </dt>
		    <dd>
		        @Html.DisplayFor(model => model.IsDeleted)
		    </dd>
		}

    </dl>
</div>
<p>
	@if (User.IsInRole("Admin"))
	{
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) @:| 
	@Html.ActionLink("Back to List", "Index")
	}
</p>

@Html.Action("ShowBooks", Model.Id)