﻿@model IEnumerable<CoolBooks.Genre>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table sort" id="sort">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Name)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Description)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Created)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.IsDeleted)
			</th>
			<th></th>
		</tr>
	</thead>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @item.Created.ToShortDateString()
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsDeleted)
        </td>
        <td>
			<ul>
				<li>@Html.ActionLink("Edit", "Edit", new { id = item.Id })</li>
				<li>@Html.ActionLink("Details", "Details", new { id = item.Id })</li>
			</ul>
        </td>
    </tr>
}

</table>
<script>
	new Tablesort(document.getElementById('sort'));
</script>