﻿@model ICollection<CoolBooks.Book>
<h2>Books:</h2>
@foreach (var item in Model.OrderByDescending(b => b.PublishDate))
{
<details>
	<summary><b>
	@item.Title
	@if (item.PublishDate != null)
	{
		@:- @item.PublishDate.Value.Year
		}
</b>

		@if (item.IsDeleted)
		{
			 	<i>(Has been deleted)</i>
				}
		</summary>

	<p>@ParseOutput.Truncate(item.Description, 200)</p>
	@{
		string linkText = $"View book";
	}
	
	<p><i> @Html.ActionLink(linkText, "Details", "Books", new { Id = item.Id }, null)</i></p>
</details>
}