﻿@model CoolBooks.Author

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Author: @Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)</h4>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
			@if (User.IsInRole("Admin")) { @Html.DisplayNameFor(model => model.IsDeleted) }
            
        </dt>

        <dd>
			@if (User.IsInRole("Admin")) {@Html.DisplayFor(model => model.IsDeleted)}
        </dd>

    </dl>
</div>
<p>@if (User.IsInRole("Admin"))
{
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) 
	@: |
	@Html.ActionLink("Back to List", "Index")
	}
</p>
<hr />
@Html.Action("ShowBooks", Model.Id)