﻿@model IEnumerable<CoolBooks.Author>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table sort" id="sort">
	<thead>
		<tr>
			<th role="columnheader">
				@Html.DisplayName("Name")
			</th>
			<th role="columnheader">
				@Html.DisplayNameFor(model => model.Description)
			</th>
			<th role="columnheader">
				@Html.DisplayNameFor(model => model.Created)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.IsDeleted)
			</th>
			<th role="columnheader"></th>
		</tr>
	</thead>
@foreach (var item in Model) {
    <tr>
        <td>
           @Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.LastName)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Created)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsDeleted)
        </td>
        <td>
			<ul>
				<li>@Html.ActionLink("Edit", "Edit", new { id = item.Id })</li>
				<li>@Html.ActionLink("Details", "Details", new { id = item.Id })</li>
			</ul>
        </td>
    </tr>
}

</table>

<script>
	new Tablesort(document.getElementById('sort'));
</script>