﻿@media (max-width: 990px) {
	aside {
		visibility: hidden !important;
		display:none;
	}
}

@media (min-width: 768px) {
	.navbar .navbar-nav {
		display: inline-block;
		float: none;
		vertical-align: top;
	}

	.navbar .navbar-collapse {
		text-align: center;
	}
}

.searchbar {
    padding-top:12px;
    padding-left:2em;
}

aside > ul{
	list-style-type: none;
	
}

aside > ul > li {
	margin-bottom:10px;
}

aside {
	text-align: center;
	align-items: center;
}

body {
	padding-top: 50px;
	padding-bottom: 20px;
	font-size: 1.3em;
}

p {
	font-size:1em;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
/*padding below images with row*/
.imgrow {
	padding-bottom: 10px;
}
.jumbotron {
	padding-top: 0.1em;
	padding-bottom: 0.5em;
}
.jumbotron h1 {
	font-size: 2.5em;
	text-align: left;
}

.jumbotron p {
	font-size: 1em;
	line-height: 1em;
	margin-bottom: 0.4em;
}
h2 {
	margin-top: 0.1em;
	font-size: 1.4em;
}

.tddate{
	width:6.4em;
}

th[role=columnheader]:not(.no-sort) {
	cursor: pointer;
}

	th[role=columnheader]:not(.no-sort):after {
		content: '';
		float: right;
		margin-top: 7px;
		border-width: 0 4px 4px;
		border-style: solid;
		border-color: #404040 transparent;
		visibility: hidden;
		opacity: 0;
		-ms-user-select: none;
		-webkit-user-select: none;
		-moz-user-select: none;
		user-select: none;
	}

th[aria-sort=ascending]:not(.no-sort):after {
	border-bottom: none;
	border-width: 4px 4px 0;
}

th[aria-sort]:not(.no-sort):after {
	visibility: visible;
	opacity: 0.4;
}

th[role=columnheader]:not(.no-sort):hover:after {
	visibility: visible;
	opacity: 1;
}