﻿@model CoolBooks.Book

@{
    ViewBag.Title = "Details";
}

<div class="container">
    <h2>@Model.Title</h2>
    <hr />
    <dl class="dl-horizontal col-md-10">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            Alternative title
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AlternativeTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Part)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Part)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ISBN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ISBN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PublishDate)
        </dt>

        <dd>
            @{
				//Bör snyggas upp så att ifsatsen inte behövs.
				if (Model.PublishDate != null)
				{
					@Html.DisplayFor(modelItem => Model.PublishDate.Value.Year)
				}
			}
        </dd>
        <dt>
            Author
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Author.FirstName) @Html.DisplayFor(model => model.Author.LastName)
        </dd>

        <dt>
           Genre
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genre.Name)
        </dd>
    </dl>
	<div class="col-md-2">
		<img src="@Html.DisplayFor(model => model.ImagePath)" class="img-responsive img-rounded" alt="Book cover" />
	</div>
</div>

<p class="container row">
	@if(User.IsInRole("Admin") || Model.UserId == User.Identity.GetUserId())
	{ 
		@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) 
		@: | 
		@Html.ActionLink("Back to List", "Index")
		@: | 
	}
	
	@if (User.Identity.IsAuthenticated)
	{
		@Html.ActionLink("Add review", "Create", "Reviews", new { bookid = Model.Id }, null)
	}
</p>
<hr /> 
@Html.Action("ShowReviews", Model.Id)