@model IEnumerable<CoolBooks.Book>

@{
	ViewBag.Title = "Index";
}

	<h2>Result	</h2>
<p>
	@if (User.Identity.IsAuthenticated) { @Html.ActionLink("Create New", "Create") }
</p>

<table class="table sort" id="sort">
	<thead>
		<tr>
			<th role="columnheader">
				@Html.DisplayName("Cover")
			</th>
			<th data-sort-default role="columnheader">
				@Html.DisplayNameFor(model => model.Title)
			</th>
			<th role="columnheader">
				@Html.DisplayNameFor(model => model.Description)
			</th>
			<th role="columnheader">
				@Html.DisplayName("Published")
			</th>

			<th colspan="2" role="columnheader">
				@Html.DisplayName("Author")
			</th>
			<th role="columnheader">
				@Html.DisplayName("Genre")
			</th>
			@if (User.IsInRole("Admin"))
			{
				<th role="columnheader">
					@Html.DisplayName("Deleted")
				</th>
			}
			<th role="columnheader"></th>
		</tr>
	</thead>
	@foreach (var item in Model)
	{
		<tr>
			<td>
				<a href="@Url.Action("Details", "Books", new { id = item.Id})">
				<img src="@Html.DisplayFor(modelItem => item.ImagePath)" class="img-responsive img-rounded" alt="Book cover" />
				</a>

</td>
			<td>
				@Html.DisplayFor(modelItem => item.Title)
			</td>
			<td>
				@ParseOutput.Truncate(item.Description, 300)

			</td>
			<td>

				@{
					//Bör snyggas upp så att ifsatsen inte behövs.
					if (item.PublishDate != null)
					{
						@Html.DisplayFor(modelItem => item.PublishDate.Value.Year)
				}
				}
			</td>

			<td colspan="2">
				@Html.DisplayFor(modelItem => item.Author.FirstName) @Html.DisplayFor(modelItem => item.Author.LastName)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Genre.Name)
			</td>
		
			@if (User.IsInRole("Admin"))
			{
				<td>
					@Html.DisplayFor(modelItem => item.IsDeleted)
				</td>
			}
			<td>
				<ul>
					<li>
						@Html.ActionLink("Details", "Details", "Books", new { id = item.Id }, null)
					</li>
					@if (User.IsInRole("Admin") || User.Identity.GetUserId() == item.UserId)
					{
					<li>
						@Html.ActionLink("Edit", "Edit", "Books", new { id = item.Id }, null)
					</li>
					}
					<li>
						@Html.ActionLink("Add review", "Create", "Reviews", new { bookid = item.Id }, null)
					</li>
				</ul>
			</td>
		</tr>
					}

</table>

<script>
	new Tablesort(document.getElementById('sort'));
</script>