﻿@model ICollection<CoolBooks.Review>
<h2>Reviews:</h2>
@foreach (var item in Model)
{
<details>
	<summary>
		<b>@item.Title (@item.Rating)</b>
		@if (item.IsDeleted)
		{
			<i>(Has been deleted)</i>
		}
	</summary>

	<p>@item.Text</p>
	@{
		string linkText = $"{item.AspNetUser.UserName} ({item.Created.ToShortDateString()})";
	}
	<p><i> @Html.ActionLink(linkText, "Details", "Reviews", new { Id = item.Id }, null)</i></p>
</details>
}