﻿@model IEnumerable<CoolBooks.AspNetUser>
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table sort" id="sort">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Email)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.PhoneNumber)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.LockoutEndDateUtc)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.LockoutEnabled)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.AccessFailedCount)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.AspNetRoles)
			</th>
			<th></th>
		</tr>
	</thead>
	

	@foreach (var item in Model)
	{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.Email)
			</td>			
			<td>
				@Html.DisplayFor(modelItem => item.PhoneNumber)
			</td>			
			<td>
				@Html.DisplayFor(modelItem => item.LockoutEndDateUtc)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.LockoutEnabled)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.AccessFailedCount)
			</td>
			<td>
				@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
				@Html.ActionLink("Details", "Details", new { id = item.Id }) |
				@Html.ActionLink("Delete", "Delete", new { id = item.Id }) |
				@if(userManager.IsInRole(user.Id, "Admin"))
				{ @Html.ActionLink("Make Admin", "MakeAdmin", new { id = item.Id }) }
				else
				{ @Html.ActionLink("Make Admin", "MakeAdmin", new { id = item.Id }) }
				
			</td>
		</tr>
	}

</table>
<script>
	new Tablesort(document.getElementById('sort'));
</script>