﻿@model IEnumerable<CoolBooks.Book>

@{
    ViewBag.Title = "Index";
}
<p>
    <h2>Search by:</h2>
        @using (Html.BeginForm("AdvancedSearch", "Search", FormMethod.Get))
        {
            <div class="container">
                <table>
                    <tr>
                        <td><b>Title:</b></td>
                        <td>@Html.TextBox("Booktitle")</td>
                        <td width="10em"></td>
                        <td><b>Author:</b></td>
                        <td>@Html.TextBox("Author")</td>
                    </tr>
                    <tr>
                        <td><b>Genre:</b></td>
                        <td>@Html.TextBox("Genre")</td>
                        <td width="10em"></td>
                        <td><b>ISBN:</b></td>
                        <td>@Html.TextBox("ISBN")</td>
                    </tr>               
                </table>
            </div>
        <h4><input type="submit" value="Search" /></h4>
        }
</p>





    <p>
        <h2>Result</h2>
    </p>
    <table class="table sort" id="sort">
		<thead>
			<tr>
				<th>
					@Html.DisplayName("Cover")
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Title)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Description)
				</th>
				<th>
					@Html.DisplayName("Published")
				</th>

				<th>
					@Html.DisplayName("Author")
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Genre.Name)
				</th>
				<th></th>
			</tr>
		</thead>
	@foreach (var item in Model)
	{
		<tr>
			<td>
				<a href="@Url.Action("Details", "Books", new { id = item.Id})">
					<img src="@Html.DisplayFor(modelItem => item.ImagePath)" class="img-responsive img-rounded" alt="Book cover" />
				</a>

			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Title)
			</td>
			<td>
				@ParseOutput.Truncate(item.Description, 300)

			</td>
			<td>

				@{ //Bör snyggas upp så att ifsatsen inte behövs.
					if (item.PublishDate != null)
					{
						@Html.DisplayFor(modelItem => item.PublishDate.Value.Year)
					}
				}
			</td>

			<td>
				@Html.DisplayFor(modelItem => item.Author.FirstName) @Html.DisplayFor(modelItem => item.Author.LastName)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Genre.Name)
			</td>
			<td>
				<ul>
					<li>
						@Html.ActionLink("Details", "Details", "Books", new { id = item.Id }, null)
					</li>
					@if (User.IsInRole("Admin") || User.Identity.GetUserId() == item.UserId)
					{
						<li>
							@Html.ActionLink("Edit", "Edit", "Books", new { id = item.Id }, null)
						</li>
					}
					<li>
						@Html.ActionLink("Add review", "Create", "Reviews", new { bookid = item.Id }, null)
					</li>
				</ul>
			</td>
		</tr>
					}

</table>



<script>
	new Tablesort(document.getElementById('sort'));
</script>