﻿@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title</h2>
<!--<h3>@ViewBag.Message</h3>//-->

<address>
    The A Team<br />
    Södra Hamngatan 19-21, 411 14 Göteborg<br />
    <abbr title="Phone">Telefon:</abbr>
    077-533 30 20
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@theateam.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@theateam.com</a>
</address>