﻿@model CoolBooks.Book

@{
//ViewBag.Title = "Home Page";
}

<div class="jumbotron">
	@*<h1>Random book</h1>*@
	<div class="container row">
		<div @*class="col-xs-3 col-sm-3 col-md-4"*@>
			<a href="@Url.Action("Details", "Books", new { id = Model.Id})">
				<img src=@Model.ImagePath
					 alt=@Model.ImagePath
					 title="Bookcover"
					 style="width:100%;max-width:228px;max-height:250px;min-height:150px;min-width:100px;"
					class="img-rounded img-responsive col-xs-3 col-sm-3 col-md-4">
			</a>
		</div>
		<div class="col">
			<p>@Model.Title </ p >
			<p><i>@Model.Author.FirstName @Model.Author.LastName</i> </ p >
			<p>@ParseOutput.Truncate(Model.Description, 490) </ p >
			
		</div>
	</div>
</div>
<div >
	@Html.Action("PWBooksbyGenre", new { nr = 6 })
</div>

