﻿@model Dictionary<string, List<Book>>

@foreach (var item in Model)
{
	<h2>@item.Key</h2>
	<div class="row imgrow center-block">
		@foreach (var book in item.Value)
		{
			if(String.IsNullOrWhiteSpace(book.ImagePath))
			{
				book.ImagePath = "./Imagemockup.jpg";
			}
			<div class="col-xs-6 col-sm-3 col-md-2">
				<a href="@Url.Action("Details", "Books", new { id = book.Id})">
					<img class="img-responsive img-rounded" src=@book.ImagePath
						 alt="Missing picture url: @book.ImagePath"
						 style="max-width:160px;max-height:200px;">
				</a>
				<p>
					@book.Title	<br /><i>@book.Author.FirstName @book.Author.LastName </i>
				</p>
			</div>
		}
		
	</div>
}




	