﻿<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title - My ASP.NET Application</title>
	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/modernizr")
	@Scripts.Render("~/Scripts/CustomJS.js")
	@Scripts.Render("~/Scripts/tablesort.js")


</head>
<body>
	<div class="container-fluid">
		<aside class="col-md-2">
			@{Html.RenderAction("LatestRanked", "HighRanked");}
		</aside>
		<div class="col-md-8">
			<div class="navbar navbar-inverse navbar-fixed-top">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					@Html.ActionLink("Cool Books", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
				</div>
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav">

						@if (User.Identity.IsAuthenticated && !User.IsInRole("Admin"))
						{
							<li>@Html.ActionLink("Add Book", "Create", "Books")</li>
						}
						@if (User.IsInRole("Admin"))
						{
							<li>@Html.ActionLink("Books", "Index", "Books")</li>
							<li>@Html.ActionLink("Reviews", "Index", "Reviews")</li>
							<li>@Html.ActionLink("Authors", "Index", "Authors")</li>
							<li>@Html.ActionLink("Genres", "Index", "Genres")</li>
						}
						<li>@Html.ActionLink("Contact", "Contact", "Home")</li>
						<li> @Html.Partial("_LoginPartial")</li>
                        <li class="searchbar">@Html.Partial("_SearchBarPartial")</li>
					</ul>

				</div>
			</div>
			<div class="container" style="align-items:center">
				@RenderBody()
			
				<footer>
					<hr />
					<p>Last update: @File.GetLastWriteTime(this.Server.MapPath(this.VirtualPath)).ToString(@"yyyy-MM-dd HH:mm")</p>
				</footer>
			</div>

		</div>
		<aside class="col-md-2">
			@{Html.RenderAction("HighRankedView", "HighRanked");}
		</aside>
	</div>

	


	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")

	@RenderSection("scripts", required: false)
</body>
</html>
