﻿@using (Html.BeginForm("Index", "Search",FormMethod.Get))
{
	@Html.TextBox("Search")
	<input type="submit" value="Search" />
}

	@*<div class="container">
	<form class="navbar-form navbar-left" role="Search">
		<div class="form-group">
			<input type="text" class="form-control col-xs-8" placeholder="Search" name="Search">
		</div>
			<button type="submit" class="btn btn-default col-xs-4">
				<span class="glyphicon glyphicon-search"></span>
			</button>	
	</form>
	</div>*@
