﻿@model IEnumerable<Review>

<h2 style="text-align:center">Latest Reviews</h2>
<ul>
	@foreach (var item in Model)
	{
		<li>

			<a href="@Url.Action("Details", "Books", new { id = item.Book.Id})">
				<img class="img-responsive img-rounded" src=@item.Book.ImagePath
					 alt="Missing picture url: @item.Book.ImagePath"
					 style="max-width:100px;max-height:150px;">
			</a>
			@*<p>
					@item.Title
				</p>*@

		</li>
	}
</ul>