﻿@model IEnumerable<Book>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<h2>Most Rated</h2>
<ul>
	@foreach (var item in Model)
	{
		<li>

			<a href="@Url.Action("Details", "Books", new { id = item.Id})">
				<img class="img-responsive img-rounded" src=@item.ImagePath
					 alt="Missing picture url: @item.ImagePath"
					  style="max-width:100px;max-height:150px;">
			</a>
			@*<p>
				@item.Title
			</p>*@

		</li>
	}
</ul>
