﻿@model CoolBooks.Review

@{
	ViewBag.Title = "Create";
}

<h2>Write a Review for</h2>


@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()

	<h2>@ViewBag.BookTitle</h2>
	<div class="form-horizontal col-md-10">
		<div class="form-group">
			@Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control"} })
				@Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
			</div>
		</div>
		<div class="form-group" >
			@Html.LabelFor(model => model.Text, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">

				@Html.TextAreaFor(model => model.Text, new { @class = "form-control count", @width = "20em", @onkeyup = $"CharCounter(this.id,'charcountoutput')", @id="test", @maxlength = "500"})

				@Html.ValidationMessageFor(model => model.Text, "", new { @class = "text-danger" })
				<p>
					<span id='charcountoutput'></span>					
				</p>
				
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.Rating, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.Rating, new { htmlAttributes = new { @class = "form-control", @type = "range", min = "1", max = "10", step = "1", @onclick = $"UpdateNumber('ratingbox', this.value)", @id ="ratingslider" } })
				@Html.EditorFor(model => model.Rating, new { htmlAttributes = new { @class = "form-control", @type = "number", min = "1", max = "10", @onchange = $"UpdateNumber('ratingslider', this.value)",
               @onclick = $"UpdateNumber('ratingslider', this.value)",  @id = "ratingbox" }
           })
				@Html.ValidationMessageFor(model => model.Rating, "", new { @class = "text-danger" })
          				
			</div>
		</div>		<div class="form-group">

			@Html.HiddenFor(model => model.Id, "BookId")

		</div>

		<div class="form-group">
			@*hidden stuff*@
			@Html.HiddenFor(model => model.IsDeleted)
			@*@Html.ValidationMessageFor(model => model.IsDeleted, "", new { @class = "text-danger" })*@
			@Html.HiddenFor(model => model.UserId, "UserId")
			@Html.HiddenFor(model => model.Created)
		</div>
	</div>
	//Adds image to the book
	<div class="col-md-2">
		<img src="@(ViewBag.BookPath)" class="img-responsive img-rounded" alt="Book cover" />
	</div>
		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" value="Create" class="btn btn-default" />
			</div>
		</div>
}

<div>
	@Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
	<script src="~/Scripts/CustomJS.js"></script>
}
