﻿@model CoolBooks.Review

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Review</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
		<dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Text)
        </dt>
		<dd>
            @Html.DisplayFor(model => model.Text)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rating)
        </dt>
		<dd>
            @Html.DisplayFor(model => model.Rating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Created)
        </dt>
		<dd>
            @Model.Created.ToShortDateString()
        </dd>
		
		<dt>
            UserName
        </dt>
		<dd>
            @Model.AspNetUser.Email
        </dd>

		@if (User.IsInRole("Admin"))
		{
		<dt>
			@Html.DisplayNameFor(model => model.IsDeleted)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.IsDeleted)
		</dd>
		}
    </dl>
</div>
<p>
	@if(User.IsInRole("Admin") || User.Identity.GetUserId() == Model.UserId)
	{ 
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
	@:|
    @Html.ActionLink("Back to List", "Index")
	}
</p>
