﻿@model IEnumerable<CoolBooks.Review>
@Scripts.Render("~/Scripts/tablesort.number.js")
@{
	ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table sort" id="sort">
	<thead>
		<tr>
			<th>@Html.Display("Book")</th>
			<th>
				@Html.DisplayNameFor(model => model.Title)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Text)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Rating)
			</th>
			<th class="tddate">
				@Html.DisplayNameFor(model => model.Created)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.AspNetUser.Email)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.IsDeleted)
			</th>
			<th></th>
		</tr>
	</thead>
	@foreach (var item in Model)
	{
		<tr>
			<td>
				<a href="@Url.Action("Details", "Books", new { id = item.Book.Id})">
					<img src="@item.Book.ImagePath" class="img-responsive img-rounded" style="max-height:200px; max-width:160px" />
				</a>
				@item.Book.Title

			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Title)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Text)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Rating)
			</td>
			<td class="tddate">
				@item.Created.ToShortDateString()
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.AspNetUser.Email)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.IsDeleted)
			</td>
			<td>
				<ul>
					<li>
						@Html.ActionLink("Edit", "Edit", new { id = item.Id })
					</li>
					<li>
						@Html.ActionLink("Details", "Details", new { id = item.Id })
					</li>
					@*<li>
							@Html.ActionLink("Delete", "Delete", new { id = item.Id })
						</li>*@
				</ul>
			</td>
		</tr>
	}

</table>

<script>
	new Tablesort(document.getElementById('sort'));
</script>